.container {
  display: grid;
  gap: 4rem;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto !important;
}

.container__articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

app-menu-footer {
  margin-top: auto 0;
}