<header>
  <app-menu-bar></app-menu-bar>
</header>
<div class="container">
  <app-menu-title></app-menu-title>
  <app-big-card
    cardLabel="Daiana Michels"
    cardTitle="Full Stack Developer"
    cardDescription="Currently working as a Full Stack Developer at Pixeon."
  ></app-big-card>
  <div class="container__articles">
    <div class="articles">
      <app-small-card
      *ngFor="let item of getItemsForPage(currentPage, itemsPerPage)"
        [photoCover]="item.photoCover"
        [photoAlt]="item.photoAlt"
        [cardAuthor]="item.cardAuthor"
        [cardTitle]="item.cardTitle"
        [cardDescription]="item.cardDescription"
        [idItem]="item.id"
      ></app-small-card>
    </div>
    <app-pagination [totalItems]="data.length" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"></app-pagination>
  </div>
</div>
<app-menu-footer></app-menu-footer>
