<div class="container__menu-bar">
  <div class="menu-start">
    <ul>
      <li><img src="./../../../favicon.ico" alt="favicon"/></li>
      <li><a href="https://www.linkedin.com/in/daiana-eger-michels/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/DaianaEgerMichels/" target="_blank">GitHub</a></li>
      <li><a href="https://daiana-eger-michels-portfolio.netlify.app/" target="_blank">Portfolio</a></li>
    </ul>
  </div>
  <div class="menu-end">
    <button (click)="contactMe()">Contact-me</button>
  </div>
</div>
