/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1000px;
  margin: 0 auto !important;
}
